<!DOCTYPE html>
<html>
  <head>
    <title>PreStudyDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if account_signed_in? %>
      <p><%= "Logged in as #{current_account.email}" %></p>
      <%= link_to 'Show Account', account_path(current_account) %> or
      <%= link_to 'Log Out', destroy_account_session_path, method: 'delete' %> or
      <%= link_to 'Delete Account', cancel_account_registration_path %>
    <% else %>
      <%= link_to 'Log In', new_account_session_path %> or
      <%= link_to 'Sign Up', new_account_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
